<div class="card">
    <div class="card-body">
        <div class="card-text">
            <input type="number" class="clock" placeholder="00" [(ngModel)]="entradaTempo">
        </div>
    </div>
    <div class="minPast">
        {{contador}} Minutos passados
    </div>
    
    <div class="buttonsClock">
        <button type="button" class="btn btn-primary" (click)="iniciar()" (click)="intervalo()">Iniciar</button>
        {{" "}}
        <button type="button" class="btn btn-warning" (click)="reiniciar()">Reiniciar</button>
        {{" "}}
        <button type="button" class="btn btn-danger" (click)="parar()">Parar</button>
        <!-- <app-buttons-clock></app-buttons-clock> -->
    </div>
</div>